---
import { getEntryBySlug } from 'astro:content';

interface Props {
  path: string
  caption?: string
}

const { path, caption = "あわせて読みたい" } = Astro.props
const pathSplit = path.split("/").filter(Boolean)
const post = await getEntryBySlug(...pathSplit);
---

{post && (
  <div class="relative mt-16 mb-8 border border-solid border-primary tag-transition">
    <span class="text-[11px] sm:text-[12px] text-[11px] bg-primary text-white absolute inline-block top-[-20px] sm:top-[-25px] left-[-1px] px-2 h-[20px ]sm:h-[25px] leading-[20px] sm:leading-[25px]">{caption}</span>
    <a href={path} target="_blank" class="p-3 sm:p-4 flex items-center no-underline hover:no-underline cursor-pointer text-text">
      <div class="w-[30%] sm:w-1/5 mr-2 sm:mr-4">
        <img src={post.data.image} alt={post.data.title} class="m-0" width="320px" height="180" />
      </div>
      <div class="w-[70%] sm:w-4/5">
        <div class="text-[13px] sm:text-base leading-snug mb-1">{post.data.title}</h1>
        <span class="text-[13px] opacity-80 sm:block hidden">{post.data.description}</p>
      </div>
    </a>
  </div>
)}
