---
import { Image } from "astro:assets";
import { BiRevision } from "react-icons/bi";
import { dateFormat } from "@/lib/utils/dateFormat";
const { post } = Astro.props;
---

<li class="col-6 sm:col-4 mb-4 sm:mb-6">
  <a
    href={`/posts/${post.slug}`}
  >
    <div class="overflow-hidden card-transition h-full">
      {post.data.image && (
        <Image
          class="w-full"
          src={post.data.image}
          alt={post.data.title}
          width="445"
          height="230"
        />
      )}
      <div class="p-3">
        <div class="mb-2 text-sm font-bold">{post.data.title}</div>
        <div class="items-center flex flex-wrap text-xs gap-x-2.5 gap-y-1">
          <time class="text-[11px] flex flex-wrap gap-x-1 items-center opacity-75" datetime={dateFormat(post.data.date, "yyyy-MM-dd")} aria-hidden="true">
            <BiRevision />
            <span class="text-[11px]">{dateFormat(post.data.date)}</span>
          </time>
        </div>
      </div>
    </div>
  </a>
</li>
