---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import type { GetStaticPathsOptions } from "astro";
import Posts from "@/components/Posts.astro";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const { blog_folder, pagination } = config.settings;
  const allPosts = await getSinglePage(blog_folder as any);
  const sortByDatePosts = sortByDate(allPosts);

  const tags = await getTaxonomy(blog_folder, "tags");
  return tags.map((tag) => {
    const filterByTags = taxonomyFilter(
      sortByDatePosts,
      "tags",
      tag
    );
    return paginate(filterByTags, {
      params: { tag: tag || "" },
      pageSize: pagination,
    });
  }).flat();
};

const { page } = Astro.props;
const { tag } = Astro.params;
---

<Base title={tag}>
  <!-- Blogs -->
  <div class="section p-2.5 lg:p-8 shadow md:p-[60px] bg-white">
    <div class="container row">
      <h1 class="index-title">
        <span class="text-primary">#{tag}</span> に関連する記事
      </h1>
      <Posts posts={page.data} />
      <Pagination
        section={`tags/${tag}`}
        currentPage={page.currentPage}
        totalPages={page.lastPage}
      />
    </div>
  </div>
  <!-- ./End Blogs -->
</Base>
