---
import { Image } from "astro:assets";
import { BiTime, BiFolder, BiSolidFolder, BiSolidPurchaseTag } from "react-icons/bi";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import type { PostData } from "@/types";

const { post } = Astro.props;
const { Content } = await post.render();
const { title, categories, image, date, tags }: PostData = post.data;
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="rounded-xl py-6 px-4 lg:py-12 lg:px-9 shadow md:p-[60px]">
          <article>
            <h1 set:html={markdownify(title)} class="h2" />
            <ul
              class="mt-4 mb-8 flex flex-wrap items-center space-x-3 text-text"
            >
              <li class="mr-5 flex items-center flex-wrap font-medium">
                <BiTime className="mr-2 h-5 w-5 text-gray-600" />
                <span class="text-sm">{dateFormat(date)}</>
              </li>
              <li class="mr-5 flex items-center flex-wrap">
                <BiFolder className="mr-2 h-[18px] w-[18px] text-gray-600" />
                <>
                  <ul>
                    {categories.map((category: string, i: number) => (
                      <li class="inline-block">
                        <a
                          href={`/categories/${slugify(category)}`}
                          class="mr-2 rounded-md border-solid border border-gray-600 hover:text-primary hover:border-primary text-xs font-medium px-1 py-0.5"
                        >
                          {humanize(category)}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              </li>
            </ul>
            {
              image && (
                <Image
                  src={image}
                  height={500}
                  width={1000}
                  alt={title}
                  class="rounded-lg"
                />
              )
            }
            <div class="content mb-16 text-left">
              <Content />
              <!-- <Markdown content={post.body} components={shortcodes} /> -->
            </div>
            <li class="mb-1 flex items-center flex-wrap">
              <BiSolidFolder className="mr-2 h-[18px] w-[18px] text-gray-600" />
              <>
                <ul>
                  {categories.map((category: string, i: number) => (
                    <li class="inline-block">
                      <a
                        href={`/categories/${slugify(category)}`}
                        class="mr-2 rounded-md border-solid border border-gray-600 hover:text-primary hover:border-primary text-xs font-medium px-1 py-0.5"
                      >
                        {humanize(category)}
                      </a>
                    </li>
                  ))}
                </ul>
              </>
            </li>
            <li class="flex items-center flex-wrap">
              <BiSolidPurchaseTag className="mr-2 h-[18px] w-[18px] text-gray-600" />
              <>
                <ul>
                  {tags.map((tag: string, i: number) => (
                    <li class="inline-block">
                      <a
                        href={`/tags/${slugify(tag)}`}
                        class="mr-3 hover:text-primary hover:border-primary text-sm font-medium"
                      >
                        #{humanize(tag)}
                      </a>
                    </li>
                  ))}
                </ul>
              </>
            </li>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
